body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-weight: 300;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px 4px;
    width: 450px;
    height: 450px;
    background: black;
    margin: 40px 0px;
}

.boardItem {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.boardItem:hover {
    background-color: #D3D3D3;
}

#restartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 150px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 40px;
    font-size: 18px;
}

#restartButton:hover {
    background-color: #000000;
    color: #FFFFFF;
}

#endGame {
    padding-top: 20px;
}